* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

img {
	max-width: 100%;
	height: auto;
}
/* css grid styles */

.content_container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.left_content {
    background-color: #FF0000;
}

.right_content{
    background-color: #FFFF00;
}

.extreme_right {
    background-color: aquamarine;
}

/* grid styles for page with cards */
.card_container {
    display:grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    background-color: blueviolet;
    margin: 10px;
    padding: 5px;
    color: white;
    border-radius: 20px;
}